:host {
  $transparent-bg: rgba(255,255,255, 0.5);
  $cover-padding-size: 9rem 0;
  $cover-blur-size: 24rem;
  $cover-blur-value: 5px;
  $cover-blur-scale: 1.2;
  $thumbnail-top: 56px;
  display: block;
  
  .playlist-cover {
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
    padding: $cover-padding-size;

    .cover-bg {
      height: $cover-blur-size;
      filter: blur($cover-blur-value);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transform: scale(1.2$cover-blur-scale);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .playlist-thumbnail {
      position: absolute;
      top: $thumbnail-top;

      img {
        border: 1px solid $transparent-bg;
      }
    }

    h4 {
      margin: 0;
      line-height: 5rem;

      span {
        padding: 1rem;
        position: relative;
        background-color: $transparent-bg;
        font-weight: normal;
      }
    }

    .actions {
      transform: translateX(11rem) translateY(9rem);
      
      .btn {
        color: white;
        margin: 2px;

        &:hover {
          color: black;
        }
      }
    }
  }
}
