@import '~css/echoes-variables.scss';

:host {
  display: block;
  height: 100%;
  background-color: var(--app-bg-color);

  .container-main {
    display: block;
    height: 100vh;
    transition: margin 0.3s ease-out;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
:host .closed + .container-main {
  margin-left: $sidebar-closed-width;
}
}

@media (min-width: 1024px) {
:host .container-main {
  margin-left: $drawer-width;
}
}
