app-user {
  article {
    padding-top: 7rem;
    padding-bottom: 5rem;
  }
  h2 {
    small {
      color: gray;
    }
  }
  p {
    color: gray;
  }

  .youtube-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
